@page "/details/{id:int}"
@using MediatR
@using Microsoft.AspNetCore.Mvc
@using eBlog.Application.Blogs.Queries.GetBlogById
@using eBlog.Application.DTOs

<div class="container-fluid p-0">
    <div class="background-container" style="background-image: url('@Blog.ImageUrl'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 50vh;">
        <div class="d-flex flex-column align-items-center text-center justify-content-center" style="height: 100%; color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
            <h3 class="mb-3 font-weight-bold" style="font-size: 3rem; text-transform: uppercase;">@Blog.Name</h3>
        </div>
    </div>
    <div class="container mt-4">
        <hr />
        <dl class="row mb-4">
            <dt class="col-sm-2 font-weight-bold" style="font-size: 1.25rem; color: #343a40;">Description</dt>
            <dd class="col-sm-10" style="font-size: 1.1rem; color: #495057;">@Blog.Description</dd>
            <hr />
            <dt class="col-sm-2 font-weight-bold" style="font-size: 1.25rem; color: #343a40;">Text</dt>
            <dd class="col-sm-10" style="font-size: 1.1rem; color: #495057;">@Blog.TextOfBlog</dd>
            <hr />
            <dt class="col-sm-2 font-weight-bold" style="font-size: 1.25rem; color: #343a40;">Author</dt>
            <dd class="col-sm-10" style="font-size: 1.1rem; color: #495057;">@Blog.Author</dd>
        </dl>
        <div class="mt-3">
            <a class="btn btn-primary" href="/edit/@Blog?.Id">Edit</a>
            <a class="btn btn-secondary ml-2" href="/">Back to List</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    [Inject] private ISender Mediator { get; set; } = default!;
    [BindProperty]
    public BlogVm Blog { get; set; } = new BlogVm();

    protected override async Task OnInitializedAsync()
    {
        Blog = await Mediator.Send(new GetBlogByIdQuery() { BlogId = Id });

        if (Blog == null)
        {
            // Handle null case, e.g., redirect or show error message
        }
    }
}
